{
  "name": "app.ok200.native",
  "description": "200 OK Web Server Native Messaging Host",
  "path": "HOST_PATH_PLACEHOLDER",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://lpkjdhnmgkhaabhimpdinmdgejoaejic/"
  ]
}
