---
---

<footer>
  <div class="container">
    <div class="footer-links">
      <a href="https://github.com/kzahel/web-server-chrome">GitHub</a>
      <a href="https://github.com/kzahel/web-server-chrome/issues">Issues</a>
      <a href="https://chrome.google.com/webstore/detail/web-server-for-chrome/ofhbbkphhbklhfoeikjpcbhemlocgigb">Chrome Web Store</a>
    </div>
    <p>MIT License</p>
  </div>
</footer>
